/* CSS Topology
* ------------------------------------------------------------------------------
* brand
* |-- _colors..............sets the element colors, without style definitions
* |   |-- _theme-*.........specifies the theme colors
* |-- _layout..............sets the element styles, without color definitions
* |   |-- _base............defines gutters, heights, and widths as per the DLS
* |       |-- _fonts.......includes the DLS fonts from the assets library
* |       |-- _normalize...makes browsers render elements more consistently
*-----------------------------------------------------------------------------*/

// Import
@import
  "brand/layout",
  "brand/colors"
;

/*
@import
  "brand/normalize",
  "brand/base",
  "brand/fonts",
  "brand/layout",
  "brand/content",
  "brand/colors"
;

/* Base definitions
  ========================================================================== *//*
body {
  position: relative;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  color: $color-text;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 1.75em;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: -0.5px;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 2.375em;
  }
}

h2 {
  font-weight: 500;
  font-size: 1.438em;
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 2em;
  }
}

h3 {
  font-size: 1.125;
}
@media screen and (min-width: 768px) {
  h3 {
    font-size: 1.375em;
  }
}

h4 {
  font-weight: 500;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}*/
