// Import theme colors
@import "brand/theme-light";


// Body definition
body {
  color: $color-text;
}

// Link definition
a:link,
a:visited {
  color: $color-link;
}
a:hover {
  color: $color-link-hover;
}
a:active,
.active,
.active a {
  color: $color-link-active;
}

// Header definition
.site__header {
  .secondary a {
     color: $color-shade-2;
  }
}
#page_overlay {
  background: rgba(0,0,0,0.4);
}
// Search definition
#page_search {
  background-color: $color-shade-8;
  border-color: $color-shade-6;
  border-radius: 0;
  color: $color-shade-3 !important;
}
#page_search::-webkit-input-placeholder { /* WebKit browsers */
  color: $color-shade-4 !important;
}
#page_search:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: $color-shade-4 !important;
}
#page_search::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: $color-shade-4 !important;
}
#page_search:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: $color-shade-4 !important;
}

// Breadcrumb definition
#page_breadcrumb {
  .breadcrumb {
    background-color: transparent;
  }
  .breadcrumb-item+.breadcrumb-item::before {
    color: $color-shade-2;
  }
  a {
    color: $color-shade-6;
  }
  li:last-child {
    color: $color-link;
  }
}

// Sidebar definition
.secondary {
  background: $color-background-2;
  border-right: 1px solid $color-shade-8;
}
#toggle_sidebar {
  color: $color-shade-6;
}
#page_sidebar {
  a {
    color: $color-shade-3;
  }
  a:hover {
    color: $color-link-alt-hover;
  }
  .active {
    color: $color-link-alt;
    background-color: transparent;
  }
}
#page_sidebar > ul > li > a {
  //border-bottom: 1px solid $color-shade-6;
}

// Toc definition
#page_toc {
  .nav {
    border-left: 1px solid $color-shade-1;
  }
  a {
    color: $color-shade-6;
  }
  a:hover {
    color: $color-link-hover;
  }
  .active {
    color: $color-link;
    background-color: transparent;
  }
}

// Chapter Index definition
#page_children {
  .list-group-item {
    border-color: $color-shade-1;
  }
}

// Footer definition
.site__footer {
  background-color: $color-shade-1;
  color: $color-shade-6;
  font-size: $small-font-size;
  text-align: center;
  a {
    color: $color-shade-6;
  }
}
