// Honeywell fonts
// ==========================================================================

@font-face
{
  font-family: 'HoneywellSans';
  font-weight: 100;
  font-style: normal;
  src: url('../assets/fonts/HoneywellSansLight.eot');
  src: url('../assets/fonts/HoneywellSansLight.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/HoneywellSansLight.woff') format('woff'),
       url('../assets/fonts/HoneywellSansLight.ttf') format('truetype');
}

@font-face
{
  font-family: 'HoneywellSans';
  font-weight: 100;
  font-style: italic;
  src: url('../assets/fonts/HoneywellSansLightItalic.eot');
  src: url('../assets/fonts/HoneywellSansLightItalic.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/HoneywellSansLightItalic.woff') format('woff'),
       url('../assets/fonts/HoneywellSansLightItalic.ttf') format('truetype'),
}

@font-face {
    font-family: 'HoneywellSans';
    font-weight: 300;
    font-style: normal;
    src: url('../assets/fonts/HoneywellSansBook.eot');
    src: url('../assets/fonts/HoneywellSansBook.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/HoneywellSansBook.woff') format('woff'),
         url('../assets/fonts/HoneywellSansBook.ttf') format('truetype'),
         /*url('../assets/fonts/HoneywellSansBook.svg#HoneywellSansBook') format('svg');*/
}

@font-face {
    font-family: 'HoneywellSans';
    font-weight: 300;
    font-style: italic;
    src: url('../assets/fonts/HoneywellSansBookItalic.eot');
    src: url('../assets/fonts/HoneywellSansBookItalic.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/HoneywellSansBookItalic.woff') format('woff'),
         url('../assets/fonts/HoneywellSansBookItalic.ttf') format('truetype'),
}

@font-face
{
  font-family: 'HoneywellSans';
  font-weight: 400;
  font-style: normal;
  src: url('../assets/fonts/HoneywellSansMedium.eot');
  src: url('../assets/fonts/HoneywellSansMedium.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/HoneywellSansMedium.woff') format('woff'),
       url('../assets/fonts/HoneywellSansMedium.ttf') format('truetype'),
}

@font-face
{
  font-family: 'HoneywellSans';
  font-weight: 400;
  font-style: italic;
  src: url('../assets/fonts/HoneywellSansMediumItalic.eot');
  src: url('../assets/fonts/HoneywellSansMediumItalic.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/HoneywellSansMediumItalic.woff') format('woff'),
       url('../assets/fonts/HoneywellSansMediumItalic.ttf') format('truetype'),
}

@font-face
{
  font-family: 'HoneywellSans';
  font-weight: 700;
  font-style: normal;
  src: url('../assets/fonts/HoneywellSansBold.eot');
  src: url('../assets/fonts/HoneywellSansBold.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/HoneywellSansBold.woff') format('woff'),
       url('../assets/fonts/HoneywellSansBold.ttf') format('truetype'),
}

@font-face
{
  font-family: 'HoneywellSans';
  font-weight: 700;
  font-style: italic;
  src: url('../assets/fonts/HoneywellSansBoldItalic.eot');
  src: url('../assets/fonts/HoneywellSansBoldItalic.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/HoneywellSansBoldItalic.woff') format('woff'),
       url('../assets/fonts/HoneywellSansBoldItalic.ttf') format('truetype'),
}

@font-face
{
  font-family: 'HoneywellSans';
  font-weight: 800;
  font-style: normal;
  src: url('../assets/fonts/HoneywellSansExtrabold.eot');
  src: url('../assets/fonts/HoneywellSansExtrabold.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/HoneywellSansExtrabold.woff') format('woff'),
       url('../assets/fonts/HoneywellSansExtrabold.ttf') format('truetype'),
}

@font-face
{
  font-family: 'HoneywellSans';
  font-weight: 800;
  font-style: italic;
  src: url('../assets/fonts/HoneywellSansExtraboldItalic.eot');
  src: url('../assets/fonts/HoneywellSansExtraboldItalic.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/HoneywellSansExtraboldItalic.woff') format('woff'),
       url('../assets/fonts/HoneywellSansExtraboldItalic.ttf') format('truetype'),
}

@font-face
{
  font-family: 'HoneywellSans';
  font-weight: 900;
  font-style: normal;
  src: url('../assets/fonts/HoneywellSansBlack.eot');
  src: url('../assets/fonts/HoneywellSansBlack.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/HoneywellSansBlack.woff') format('woff'),
       url('../assets/fonts/HoneywellSansBlack.ttf') format('truetype'),
}

@font-face
{
  font-family: 'HoneywellSans';
  font-weight: 900;
  font-style: italic;
  src: url('../assets/fonts/HoneywellSansBlackItalic.eot');
  src: url('../assets/fonts/HoneywellSansBlackItalic.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/HoneywellSansBlackItalic.woff') format('woff'),
       url('../assets/fonts/HoneywellSansBlackItalic.ttf') format('truetype'),
}
