/* TO BE DONE */

/* Digital primary palette
  ========================================================================== */


/* Dark already */
$color-link:        #45a8ea;
$color-link-hover:  #8bc9f2;
$color-link-active: #d1e9fa;
