{% assign parentDir = include.dir %}
{% if parentDir == nil %}<h1>You must specify a root directory</h1>{% endif %}

{% assign allDocs = include.docs %}
{% if allDocs == nil %}{% assign allDocs = site.pages | sort: "index" %}{% endif %}

{% assign level = include.level %}
{% if level == nil %}{% assign level = parentDir | remove_first: "/" | split:"/" | size %}{% endif %}

{% assign maxLevel = include.maxLevel %}
{% if maxLevel == nil %}{% assign maxLevel = 100 %}{% endif %}
{% assign nextLevel = level | plus : 1 %}

{% assign listClass = include.liClass %}
{% assign linkClass = include.aClass %}

{% assign summary = include.showSummary %}

{% comment %}+++++++++++++++++++++++++++++++++++++++++++++++++
Looking for all page in this path with the same level (siblings)
This avoid to deep recursion and error like :
__ Liquid Exception: Nesting too deep __
+++++++++++++++++++++++++++++++++++++++++++++++++{% endcomment %}
{% assign siblings = ""         | split: "/" %}
{% assign siblings_index = ""   | split: "/" %}
{% assign siblings_noindex = "" | split: "/" %}

{% for s in allDocs %}
    {% assign sPageLevel = s.url | remove_first: "/" | split:"/" | size %}
    {% if sPageLevel == level and s.url contains parentDir %}
        {% if s.title %}{% assign siblings = siblings | push: s %}{% endif %}
    {% endif %}
{% endfor %}

{% for s in siblings %}
  {% if s.index %}
    {% assign siblings_index = siblings_index | push: s | sort: "index" %}
  {% else %}
    {% assign siblings_noindex = siblings_noindex | push: s | sort: "title" %}
  {% endif %}
{% endfor %}

{% assign siblings = siblings_index %}
{% for s in siblings_noindex %}
  {% assign siblings = siblings | push: s %}
{% endfor %}

{% for p in siblings %}
  <li class="{{listClass}}" id="{{p.title}}">
    <a href="{{site.baseurl}}{{p.url}}" class="{{linkClass}}{%if p.url == page.url%} active{%endif%}">{{ p.title }}</a>
    {% if summary %}
    <p class="excerpt">{{ p.content | markdownify | strip_html | truncate:100}}</p>{% endif %}
    {% if nextLevel <= maxLevel %}
    <ul class="nav nav-pills flex-column">
      {%- include _site/show-children.html dir=p.dir docs=allDocs level=nextLevel maxLevel=maxLevel liClass=listClass aClass=linkClass showSummary=summary -%}
      <li hidden>&nbsp;</li>
    </ul>
    {% endif %}
  </li>
{% endfor %}

{% comment %}+++++++++++++++++++++++++++++++++++++++++++++++++
Because all variables are globales (all includes have the same scope)
we restore level and nextLevel variables to parent values
+++++++++++++++++++++++++++++++++++++++++++++++++{% endcomment %}
{% assign level = level | minus : 1 %}
{% assign nextLevel = nextLevel | minus : 1 %}
